#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../../../public/images/wallpaper.png") center no-repeat;
    background-size: cover;
}

#hero>.full-page-inner-container {
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    color: var(--secondary-color);
    font-family: 'California-Alternate';
    font-size: 8rem;
    text-shadow: 0px 0px black,
                 0px 5px black,
                 5px 0px black,
                 5px 5px black
}

#hero p {
    color: var(--accent-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0px 0px black,
                 0px 2px black, 
                 2px 0px black,
                 2px 2px black
}

@media (max-width: 1500px) {
    #hero h1 {
        font-size: 6rem;
    }

    #hero p {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    #hero h1 {
        font-size: 4rem;
    }

    #hero p {
        font-size: 1rem;
    }
}

@media (max-height: 750px) {
    #hero h1 {
        font-size: 4rem;
    }

    #hero p {
        font-size: 1rem;
    }
}