#login {
    --border-size: 1px;
}

.full-page-section-sub-nav,
.full-page-section-sub-nav .divider-grid {
    min-height: calc(100vh - var(--top-nav-height));
}

.full-page-section,
.full-page-section .divider-grid {
    min-height: 100vh;
}

.divider-grid {
    grid-template-columns: 1fr 1fr;
}

.divider-grid>* {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
}

.divider-grid>div:nth-child(1) {
    border-right: solid var(--secondary-color) var(--border-size);
}

.divider-grid>div:nth-child(2) {
    border-left: solid var(--secondary-color) var(--border-size);
}

.image-box {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../../../public/images/signup-login.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

.full-page-section,
.full-page-section-sub-nav {
    background: var(--primary-color);
}

#login-form {
    width: 50%;
}

@media (max-width: 1500px) {
    #login-form {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    #login-form {
        width: 80%;
    }
}

@media (max-width: 750px) {
    #login-form {
        width: 90%;
    }

    .image-box {
        display: none;
    }

    .divider-grid {
        grid-template-columns: 1fr;
    }

    .divider-grid>* {
        min-width: 90%;
    }
}

#login-form>div {
    margin: 10px 0px;
    width: 100%;
}

#login-form>div>* {
    display: block;
    width: 100%;
}

#login-form button {
    display: inline-block;
    width: 45%;
}

.form-button-container {
    display: flex;
    justify-content: space-around;
}