.full-page-section {
    height: max(fit-content, 100vh);
    min-height: 100vh;
    min-width: max(fit-content, var(--min-content-width));
    width: 100vw;
}

.full-page-section-sub-nav {
    height: max(fit-content, calc(100vh - var(--top-nav-height)));
    min-height: calc(100vh - var(--top-nav-height));
    min-width: max-content;
    width: 100vw;
}

.full-page-inner-container {
    height: max(fit-content, 100%);
    min-height: 100%;
    min-width: fit-content;
    width: min(100vw, var(--max-content-width));
}
