/* Fonts */
@font-face {
    font-family: California;
    src: url("../public/fonts/California.otf") format("opentype");
}

@font-face {
    font-family: California-Alternate;
    src: url("../public/fonts/California-Alternate.otf") format("opentype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../public/fonts/RobotoSlab-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Roboto-Bold';
        src: url("../public/fonts/RobotoSlab-SemiBold.ttf") format("truetype")
}

/* End Fonts */

/* Global Styling */
* { 
    font-family: "Roboto-Regular";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    /* Sizes */
    --top-nav-height: 60px;
    --max-content-width: 1920px;
    --min-content-width: 300px;
    --sliding-menu-width: 250px;
    --hamburger-icon-height: 20px;
    --hamburger-icon-width: 25px;

    /* Colors */
    --primary-color: #3C3B3B;
    --primary-color-transparent: rgba(0, 0, 0, 0.80);
    --secondary-color: #FEFEFE;
    --accent-color: #00D6FE;

    --error-foreground: #CC0000;
    --error-background: #FFCCCC;
}

html,body, #root {
    height: max-content;
    min-height: 100%;
    min-width: var(--min-content-width);
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6, label {
    color: var(--secondary-color);
    font-family: 'Roboto-Bold';
}

p, input {
    color: var(--secondary-color);
    font-family: 'Roboto-Regular';
}

label {
    color: var(--accent-color);
}
/* End Global Styling */

/* Global Class Styling */
.overlay {
    height: 100vh;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100vw;
    z-index: 5;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo-text {
    color: var(--accent-color);
    font-family: 'California';
    font-size: 3rem;
}

.small-icon {
    height: 20px;
    width: 20px;
    max-width: 20px;
}

.medium-icon {
    height: 50px;
    width: 50px;
}

.large-icon {
    height: 75px;
    width: 75px;
}

.form-text-input {
    background-color: var(--primary-color);
    border: none;
    border-bottom: solid white 1px;
    outline: none;
    resize: none;
}

.form-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 500px;
    outline: none;
    padding: 10px;
    resize: none;
}

.form-button:hover {
    filter: brightness(80%);
}

.form-button:disabled:hover {
    filter: brightness(100%);
}

.form-errror {
    color: red;
    font-size: 0.75em;
    user-select: none;
}
/* End Global Class Styling */
