.top-nav-button {
    background: var(--primary-color);
    color: var(--secondary-color);
    height: var(--top-nav-height);
    padding: 15px;
}

.top-nav-button:hover {
    filter: brightness(130%);
}